<%= simple_form_for @space do |f| %>
  <div class="mb-3">
    <%= f.input :name, required: true %>
    <%= f.input :description, required: true %>
    <%= f.input :location, required: true %>
    <%= f.input :price_per_hour, required: true %>
    <%= f.input :price_per_day, required: true %>
    <%= f.input :capacity, required: true %>
  </div>

  <div class="mb-3">
    <%= f.input :photo, as: :file, label: "Upload Space Image" %>
  </div>

  <%= f.submit "Create Space", class: "btn btn-primary" %>
<% end %>
