<h1>All Spaces</h1>
<p>Browse available coworking spaces below:</p>

<%# Placeholder content since controller is not ready yet %>
<div class="container">
  <div class="row">
    <% @spaces.each do |space| %>
      <div class="col-md-4 mb-4">
        <%= link_to space_path(space), class: "text-decoration-none" do %>
          <div class="card" style="width: 18rem; cursor: pointer;">
            <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-47118372/original/7cb880ec-a5f7-4131-9174-d4e1b124bb67.jpeg?im_w=720&im_format=avif" alt="Space image">
            <div class="card-body">
              <h5 class="card-title"><%= space.name %></h5>
              <p class="card-text"><strong>Location:</strong> <%= space.location %></p>
              <p class="card-text"><strong>Price per day:</strong> $<%= space.price_per_day %></p>
              <p class="card-text"><strong>Capacity:</strong> <%= space.capacity %> people</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
