<h1>Request to Book <%= @space.name %></h1>

<%= simple_form_for [@space, @booking] do |t| %>
  <%= t.input :start_date %>
  <%= t.input :end_date, as: :date, label: "End Date" %>
  <%= t.button :submit, class: "btn btn-primary mt-3" %>
<% end %>
