<h1>Dashboard</h1>
<p>Welcome, <%= current_user.email %>!</p>


<div class="container">
  <% if current_user.owner? %>
    <div class="cards-spaces">
      <h2>Your Spaces</h2>
      <% current_user.spaces.each do |space| %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-47118372/original/7cb880ec-a5f7-4131-9174-d4e1b124bb67.jpeg?im_w=720&im_format=avif" alt="Space image" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= space.name %></h5>
            <p class="card-text"><%= space.location %></p>
          </div>
        </div>
      <% end %>
    </div>


    <div class="bookings">
      <h2>Your Bookings</h2>
      <% current_user.bookings.each do |booking| %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-47118372/original/7cb880ec-a5f7-4131-9174-d4e1b124bb67.jpeg?im_w=720&im_format=avif" alt="Space image" >
          <div class="card-body">
            <h5 class="card-title"><%= booking.space.name %></h5>
            <p class="card-text"><%= booking.renter.email %></p>
            <p class="card-text"><%= booking.status %></p>
          </div>
        </div>
      <% end %>
    </div>

  <% elsif %>
    <div class="bookings">
      <h2>Your Bookings</h2>
      <% current_user.bookings.each do |booking| %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://a0.muscache.com/im/pictures/miso/Hosting-47118372/original/7cb880ec-a5f7-4131-9174-d4e1b124bb67.jpeg?im_w=720&im_format=avif" alt="Space image" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= booking.space.name %></h5>
            <p class="card-text"><%= booking.status %></p>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
