<!DOCTYPE html>
<html>
  <head>
    <title>Worktree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white mb-3">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <ul class="navbar-nav me-auto col-l">
            <li><%= image_tag "worktree_logo.png", alt: "logo", class: "d-inline-block align-text-top", height: "50" %></li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-white' %></li>
            <li><%= link_to 'Dashboard', user_dashboard_path, class: 'nav-link px-2 text-white' %></li>
            <% if current_user %>
              <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link px-2 text-white" %></li>
            <% else %>
              <li><%= link_to 'Log in', new_user_session_path, class: 'nav-link px-2 text-white' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
