<!DOCTYPE html>
<html>
  <head>
    <title>Worktree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body style="background-color:rgb(189, 186, 186);">
    <header class="p-3 text-white mb-3" style="background-color: #393E46">
      <nav class="navbar navbar-expand-lg" style="background-color: #393E46; ">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag "worktree_logo.png", alt: "logo", height: "50", class: "d-inline-block align-text-top" %>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center">
              <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link px-3 text-white'%></li>
              <li class="nav-item"><%= link_to 'Dashboard', user_dashboard_path, class: 'nav-link px-3 text-white' %></li>

              <% if current_user %>
                <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link px-3 text-white" %></li>
              <% else %>
                <li class="nav-item"><%= link_to 'Log in', new_user_session_path, class: 'nav-link px-3 text-white' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container mt-3">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show text-center fixed-bottom right-0 m-3"  role="alert">
          <%= flash[:notice] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade show text-center fixed-bottom right-0 m-3" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>


    <style>
    .alert {
      animation: fadeOut 5s forwards;
    }

    @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
    }
    </style>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
